.div1{
    background-color: rgb(58, 156, 212);
    /* height: 50px; */
    padding: 10px;
    border-radius: 4px;
}
.title{
   position: relative;
   left: 50px;
   font-size: 25px;
   font-family: sans-serif;
   font-weight: 800;
}
table,td,th{
    border: 1px solid black;
    border-collapse: collapse;
    background-color: antiquewhite;
    border-radius: 10px;
    
}
.div2{
    height: 300px;
    background-color: rgb(179, 177, 177);
}
h3{
    color: brown;
    font-family: sans-serif;
}